.header {
  height: 6.55rem;
  padding: 0.5in 0;
  display: grid;
  grid-template-columns: 1fr 0.5in [start] 1.25in 5in 1.25in [end] 0.5in 1fr;
  background: linear-gradient(white 6.55rem, hsl(55, 100%, 96%));
}

.header * {
  grid-column: start / end;
}

@media (max-width: 8.5in) {
  .header {
    grid-template-columns: 1fr 5% [start] 15% 60% 15% [end] 5% 1fr;
  }
}

.header__title {
  font: italic 700 2rem/1.2 "Roboto";
  color: hsl(000, 000%, 33%);
  text-align: right;
}

.header__link {
  box-shadow: inset 0 -0.25em hsl(250, 100%, 83%);
}
